<%- include('composants/head') %> 
<head>
	<script defer src="../js/fontawesome-all.js"></script>
</head>
<body>
 <%- include('composants/entete') %>
 <div id="profil">
	 <% adresse.forEach(elm => {%>
	 <table>
	 	<tr>
	 		<th>Prénom</th>
	 		<th>Nom</th>
	 		<th>Téléphone</th>
	 		<th>Courriel</th>
	 	</tr>
	 	<tr>
	 		<td><%=elm.prenom%></td>
	 		<td><%=elm.nom%></td>
	 		<td><%=elm.telephone%></td>
	 		<td><%=elm.courriel%></td>
	 	</tr>
	 </table>
	 <% }) %>
 </div>
 <%- include('composants/footer') %>
</body>